<!DOCTYPE html>
<html>

<head>
    <title>inicio</title>
    <link href="/css/estilo.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
</head>
<body>
    <h1>BIENVENIDO <%= nombre%></h1>
    <% preguntas.forEach(function(pregunta) { %>
        <li>
            <strong><%= pregunta.titulo%></strong>
        </li>
    <% }); %>
    <form method="get" action="/desconectarse">
    <button class="btn btn-primary" type="submit">Desconectarse</button>
    </form>
</body>

</html>