<!DOCTYPE html>
<html>
<head>
    <title>usuarios</title>
    <meta charset="utf-8">
</head>

<body>
  <form method="get" action="/logearse">
    <p>Nombre: <input type="text" name="nombre" size="40"></p>
    <p>Contraseña: <input type="text" name="password" size="40"></p>
    <p>
      <input type="submit" value="Enviar">
    </p>
  </form>

</body>

</html>