/* Header */
#header{
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 100;
}
.navbar-brand{
    font-size:x-large;
     margin-left: 50px;
}
.nav-link {
    font-size:x-large;
}
#iconoHeader{
    border-radius: 40%; 
    margin-top: 10px;
}
#nombreUsuario{
    font-size:x-large; margin-top: 10px;
}
#btn_cerrarSesion{
    margin-top: 20px; float: right;border-width: 1px; border-color: black;
}
/* body */
#body{
    background-image: url(/Images/fondo1.jpg);
    background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
height: 100%;
}
#error{
    color: red;
}

.bronce{
    margin-bottom: 10px;
    text-align: center;
    font-size:x-large;
    background-color: rgb(175, 154, 154);
    border-color: black;
}
.plata{
    margin-bottom: 10px;
    text-align: center;
    font-size:x-large;
    background-color: rgb(185, 185, 185);
    border-color: black;
}
.oro{
    margin-bottom: 10px;
    text-align: center;
    font-size:x-large;
    background-color: rgb(243, 227, 138);
    border-color: black;
}
.medalla{
    background-color: rgb(17, 17, 17);
    border-color: rgb(253, 0, 0);
    color: beige;
    border-width: 2px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 10px;
}